# Splunk Universal Forwarder inputs for auditd log shipping.
# Deployed to /opt/splunkforwarder/etc/system/local/inputs.conf

[monitor:///var/log/audit/audit.log]
disabled = false
sourcetype = linux:audit
index = main

[monitor:///var/log/drift_summary.log]
disabled = false
sourcetype = _json
index = main
